<footer class="footer">
    <div class="main-arrow">
        <a href="./index.html#header"><img class="main-arrow__a" src="./assets/images/ico-arrow.png"
                alt="icono enlace al inicio"> </a>
    </div>
    <nav>
        <ul class="footer-nav1__ul1">
            <li>
                <a class="footer-a" href="https:/adalab.es/">Articles</a>
            </li>
            <li >
                <a class="footer-a" href="https:/adalab.es/">Books</a>
            </li>
            <li>
                <a class="footer-a" href="https:/adalab.es/">Events</a>
            </li>
            <li>
                <a class="footer-a" href="https:/adalab.es/">Reasons</a>
            </li>
            <li>
                <a class="footer-a" href="https:/adalab.es/">Tips</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="footer-nav1__ul2">
            <li>
                <a class="footer-a" href="https:/adalab.es/">Twitter</a>
            </li>
            <li>
                <a class="footer-a" href="https:/adalab.es/">Instagram</a>
            </li>
            <li>
                <a class="footer-a" href="https:/adalab.es/">Mastodon.social</a>
            </li>
        </ul>
    </nav>
    <div class="footer-div2">
        <span>&copy;2022</span>
        <span>We<img src="./assets/images/icone-de-coeur-orange-1.png" alt="corazon" />components</span>
    </div>
</footer>