<header id="header" class="header">
    <div class="header__menu">
        <a href="https://adalab.es/">
            <img title="Adalab" class="header__menu--img" src="./assets/images/menu-3.png" alt="menu desplegable" />
        </a>
    </div>
    <article class="header__article">
        <h1 class="header__article--title">Anonymous &NewLine;Proxy</h1>
        <p class="header__article--p">In hac habitasse platea &NewLine;dictumst.</p>
        <!-- podía ser un título también pero no me parecío por el tono del resto de la pag. -->
        <div class="header__article--icon">
            <a href="./index.html#section2">
            <img title="Ir a sección dos" src="./assets/images/ico-scroll-down.png" alt="enlace a la sección dos"> 
            </a>
        </div>
    </article>
</header>












