<header id="header" class="header">
    <div class="header__menu">
        <a href="https://adalab.es/">
            <img title="Adalab" class="header__menu--img" src="http://beta.adalab.es/modulo-1-evaluacion-final-VirginiaMSordo/assets/images/menu.png" alt="menu desplegable" />
        </a>
    </div>
    <article class="header__article">
        <h1 class="header__article--title">Anonymous &NewLine;Proxy</h1>
        <p class="header__article--p">In hac habitasse platea dictumst.</p>
        <!-- podía ser un título también pero no me parecío por el tono del resto de la pag. -->
        <div class="header__article--icon">
            <a href="./index.html#section2">
            <img title="Ir a sección dos" src="./assets/images/ico-scroll-down.png" alt="enlace a la sección dos"> 
            </a>
        </div>
    </article>
</header>












<!-- icono hamb. incluído como imagen con un link.La imagen va metida dentro del link.  AÑADIR LA CLASE Y AÑADIR EL LINK. INCLUIR ENLACE A ADALAB más BOTÓN SOMBREADO AL PASAR POR ENCIMA. (botón fijo)-->

<!-- Decido añadir el hero en forma de artículo ya que como sección me parece que se adaptan mejor las dos grandes siguientes -->

<!-- Al incluir title en la imagen, hace que el cursos nos ofrezca un tip de lo que es -->

<!-- Enlazo con # a la parte del index que me interesa que me lleve.  He visto otra opción que sería añadirlo como: <button type="button" class="" onclick="url destino" nombre del botón <button/> Semánticamente button hace la seciión hero más accesible. Para mi web la etiqueta podría ser: <button type="button" class="" onclick="index.html#3-reasons-to-purchase" <img src="" alt="icono enlace a la sección dos"> <button />   -->