<section id="section2" class="section2">
    <div class="section2__h2">
    <h2>3 reasons to purchase</h2>
    </div>
    <article>
        <h3 class="section2__article--h3">Ut sed metus</h3>
        <p class="section2__article--p">Lorem ipsum dolor sit &NewLine;amet, consectetur.</p>
    </article>

    <article>
        <h3 class="section2__article--h3">Curabitur ac erat</h3>
        <p class="section2__article--p">Mauris mattis urna &NewLine;quis lorem molestie.</p>
    </article>

    <article>
        <h3 class="section2__article--h3">Morbi dictum</h3>
        <p class="section2__article--p">Aliquam in dolor et &NewLine;dolor tincidunt.</p>
    </article>
    </div>

    <div class="section2__div">
        <a href="https:/adalab.es/" class="section2__div--a">
            <p title="Adalab" class="">More reasons</p>
        </a>
    </div>

</section>