<section id="section2" class="section2">
    <h2 class="section2__h2">3 reasons to purchase</h2>
    <!-- poner en mayúsculas las iniciales.  -->
    <article class="section2__article1">
        <h3>Ut sed metus</h3>
        <p>Lorem ipsum dolor sit amet, consectetur.</p>
    </article>

    <article class="section2__article2">
        <h3>Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="section2__article3">
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
    </article>

    <div class="section2__div">
        <a href="https:/adalab.es/" class="section2__div--a">
            <p title="Adalab" class="">More reasons</p>
        </a>
    </div>

</section>