 @media all and (min-width: 320px) {

.header__menu--img {
    height: 4.4rem;
    width: 4.4rem ;
  }
.header__article--title {
    font-size: 8rem;
   
    
}
.header__article--p {
    font-size: 2.4rem;
    margin-bottom: 8px;
    white-space: pre-line;
    text-align: center;
}

.header__article--icon {
    margin-bottom: 15px;
}

// SECCIÓN 1--------------------

 
.section1 {
    height: 30rem ;
    padding-left: 40px;
    padding-top: 45px;
   
 }
.section1__h2{
    font-size: 2.6rem;
    white-space: nowrap;
    margin-top: 15px;
}

.section1__p2 {
   font-size: 2rem;
   width: 69rem;
    height: 6rem;
    margin-top: 20px;
}
.section1__go{
    width: 9rem;
    margin-bottom: 40px;
       
}

.main-arrow{
    position: absolute;
    left: 45%;
    transform: translateY(-300%);
}



// SECCIÓN 2--------------------

.section2 {
    height: 37rem ;
    grid-template-columns: auto auto auto;
     &__h2 {
        font-size: 2.6rem;
        grid-column: 1/ span2;
        margin-top: 30px;
}
}

.section2__article{
    margin-top: 50px;
    margin-left: 20px;
    &--h3 {
        font-size: 2.4rem;
    }
}
.section2__article--p {
    font-size: 2rem;    
}

.section2__div {
    width: 21rem;
    grid-column: 1/ span3;
    margin-top: 130px;
    margin-left: 280px;
}


// FOOTER --------------------

.footer{
    height: 24rem;
    padding-left: 20px;
    flex-direction:row;
    justify-content: space-between;
}
.footer-box2 {
    order:3;
    padding-right: 150px;
    
}
.footer-box1 {
    order: 2;
    
}
.footer-div2 {
    align-items: flex-start;
}
.footer-nav1__ul2{
    align-items: flex-start;
}
.footer-nav1__ul1{
    align-items: flex-start;
}

}


